{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<form action="/login" method="post">
    <div class="mb-3">
        <input autofocus class="form-control mx-auto w-auto" name="email" placeholder="E-mail" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Log in!</button>
</form>
{% endblock %}